# Python
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
.venv/
venv/
ENV/
env/

# Flutter/Dart
**/build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
**/android/app/key.properties
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh

# IDEs & OS files
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db

# Secrets & Environment variables
.env
.env.*
!.env.example
